---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "bourbon/bourbon"; 
@import "base/base";
@import "neat/neat"; 
@import "fa/font-awesome"; 

// Vars
$purple: #6d3e6d;
$pink: #c576c4;
$mocha: #8b796c; 
$black: #474747;
$light: #f7f7f7;
$base-space: 24px; 
$yellow: #edca65;

$bp1: 320px; 
$bp2: 500px;
$bp3: 768px; 
$bp4: 1000px; 
 
 
h1, h2, h3, h4, h5 {
	font-weight: 700;
	font-family: 'Merriweather', serif;
	margin-top: 1em;
}

h1 {
	font-size: rem(26);
}
h2 {
	font-size: rem(22);
}
h3 {
	font-size: rem(20);
}
 
body, html {
	margin: 0;
	font-family: 'Merriweather', serif; 
	font-weight: 400;
	font-size: rem(16);
}

p {
	font-family: 'Merriweather', serif; 
	font-weight: 400;
	color: $black;
	line-height: 1.7;
}

p, ul {
	margin-bottom: .75em;
}

body { 
	opacity: 0;
	transition: opacity .3s linear .2s;
	&.loaded {
		opacity: 1;
	}
}

.skip {
	left: -999em;
	position: absolute; 
	top: 0;
	padding: 12px;
	text-align: center; 
	font-weight: 700;
	&:focus, &:active { 
		left: 0;
		font-size: rem(17); 
		color: black;
		display: inline;
		border: 1px dotted white;
		outline: 0;
		 @include media($bp1) { 
			 left: 60px;
			 color: white;
		 }
	}
}

.container {
	@include outer-container;
	//border: 1px solid tint(#f00, 40%);
	margin: 0 auto;
	min-width: 100%;
	padding: 0 $base-space/2; 
	 @include media($bp1) {
       //border: 1px solid tint(blue, 40%);
       min-width: 320px;
     }
      @include media($bp2) {
      //border: 1px solid tint(#333, 40%); 
      min-width: 500px;
     }
      @include media($bp3) {
       //border: 1px solid tint($purple, 40%);
       min-width: 768px;
     }
      @include media($bp4) {
      // border: 1px solid tint(yellow, 20%);
       min-width: 1000px;
     }
}

// Helpers

.btn {
	font-family: 'Raleway', sans-serif;
	font-weight: 500; 
	text-transform: uppercase;
	font-size: rem(20);
	border: 2px solid #fff;
	display: block;
	padding: 4px 10px;
	text-align: center;
	color: #fff;
	margin-top: 2em;
}

// Header

.topbar { 
	background: $purple;
	padding: 6px 0;
	@include clearfix;
	p { margin: 0;  }
}

.topbar__social {
	@include media($bp2){
		@include span-columns(4);
		float: left;
		text-align: left;
	}
}

.social-icons {
	text-align: center;
	li { display: inline; }
	a { color: #fff; padding: 12px; font-size: rem(30); }
	@include media($bp2){  
		text-align: left;
	}
}

.topbar__tel {
	text-align: center;
	margin: 4px 0; 
	p { font-weight: 300; color: #fff; font-size: rem(14); }
	strong {font-size: rem(23); font-weight: 400 }
	@include media($bp2){
		@include span-columns(6);
		float:right; 
		text-align: right;
		p { font-size: rem(16);  }
		strong { font-size: rem(22); }
	}
}

.logobar--logo {
	display: block;
	margin: 10px auto;
	@include media($bp2){ 
	max-width: 370px; }
	@include media($bp3){
		@include span-columns(4); 
		margin: 12px 0; 
		float: left;
	}
}


.main-nav {
	padding: 12px 0;
	li {
		display: block;
		text-align: center;
		border-bottom: 1px solid #eee;
		&:first-child {
			display: none;
		}
		&.active a {color: #93afef}
		a {
			color: $purple; 
			display: block;
			font-weight: 700;
			line-height: 2;
			font-family: 'Raleway', sans-serif;
			font-size: rem(20);
			&:hover { color: #93afef }
		}
	}
	@include media($bp3){
		@include span-columns(7);
		text-align: right;
		padding-top: 55px;
		float: right;
		li {
			display: inline-block;
			border: 0; text-align: center;
			a {
				font-size: rem(18);
				font-weight: 500;
				padding: 0 $base-space;
				
			}
			&.active a {color: $purple; font-weight: 700; }
		}
	}
	@include media($bp4){
		padding-top: 80px;
		li {
			a {
				font-size: rem(20);
			}
		}
	}
}

.main-nav__home,
.main-nav__ {
	display: none!important;
}

// Banner 

.home-banner {
	background: $purple url('../img/banner.jpg') no-repeat center 0;
	background-size: cover;
	min-height: 200px;
	position: relative;
	padding: $base-space 0; 
	.container {  min-height: 200px; position: relative; }
	 @include media($bp2) {
	 	.container {  min-height: 350px; }
	 	min-height: 350px;
	 	padding-bottom: 0;
     }
      @include media($bp4) {
      	.container {  min-height: 400px; }
      	padding-bottom: 0;
      	min-height: 400px;
     }
 }

.home-banner__pullout { 
	width: 100%; 
	background: #fff;
	background: rgba(255,255,255,.6);
	padding: $base-space;
	
	.btn {
		font-size: rem(17);
		color: $purple;
		padding: 8px;
		border: 3px solid $purple;
		display: block;
		text-align: center;
		&:hover, &:active, &:focus { background: rgba(255,255,255,.4); color: $black; border-color: $black; }
	}
	
	@include media($bp2){ 
		width: 100%;
		margin-top: 10%; 
		h2 { margin: 16px 0; padding-right: 45%; }
	}


	@include media($bp3){ 
		position: absolute;
		margin-top: auto;
		left: 12px;
		bottom: 12px;
		@include span-columns(7);
		
		h2 { font-size: rem(26); margin-bottom: 16px; padding-right: 10%; }
		.btn {
			display: inline;
			float: left;
			padding: 8px 16px;
		}
	}

	@include media($bp4){ 
		@include span-columns(6);
	}

}  // Home banner

.home-banner__pullout--intro { font-weight: 300; margin-bottom: 10px; text-transform: uppercase; color: $purple; 
				font-size: rem(20);  
  
}

.home-banner__pullout--title { font-weight: 400; color: #3E3E3E; font-size: rem(23); margin-bottom: 10px; 
		@include media($bp3){ 
			padding-right: 40%;
		}
}

// Home features
.home-features {
	@include clearfix;
	padding: $base-space 0;
	.container { position: relative; }
}

.home-features__list {
	@include clearfix;
	padding: 0 $base-space;
	li {
		padding: $base-space / 2 0;
	}
	h3 {
		margin: 10px 0;
		font-weight: 400;
		color: $mocha;
		font-size: rem(19);
		padding: 12px;
		padding-left: 80px;
	}
	p {
		font-family: 'Raleway', arial, sans-serif; font-weight: 400;
		line-height: 2;
	}

	@include media($bp3) {
		position: absolute;
		top: 0;
		padding: $base-space 0;
		li {
			@include span-columns(6); 
			@include omega(2n);
			&.home-features--item1,
			&.home-features--item3 {
				padding-right: 85px;
			}
			&.home-features--item2,
			&.home-features--item4 {
				padding-left: 85px;
			}
		}
		
		h3 {
			font-weight: 300;
			padding-left: 75px;
		}
		
	}

	@include media($bp4) {
		li { 
			&.home-features--item1,
			&.home-features--item3 {
				padding-right: 110px;
			}
			&.home-features--item2,
			&.home-features--item4 {
				padding-left: 110px;
			}
		}
		h3 { 
			font-size: rem(22);
			padding-left: 65px;
		}
	}
}

.home-features--item1 h3 {
	background: transparent url(../img/home-icon.svg) no-repeat left -3px; background-size: contain;
}

.home-features--item2 h3 {
	background: transparent url(../img/paw-icon.svg) no-repeat left 0; background-size: contain;
}

.home-features--item3 h3 {
	background: transparent url(../img/care-icon.svg) no-repeat left 0; background-size: contain;
}

.home-features--item4 h3 {
	background: transparent url(../img/award-icon.svg) no-repeat left 0; background-size: contain;
}

.home-features__circles {
	display: none;
	text-align: center;
	padding-top: $base-space;
	@include media($bp3){
		display: block;
	}
	img {
		display: block;
		border-radius: 50%;
		border: 5px solid $mocha;
		margin: $base-space auto;
	}
}

.home-features__circles--circle {
	width: 180px;
	margin: 0 auto;
	margin-bottom: $base-space * 2;
	text-align: center;
}

.callouts {
		@include media($bp2){
			padding: $base-space 0;
		}

	.callouts__ad {
		@include shift(1);
		@include span-columns(10); 
		margin-bottom: $base-space;
		position: relative;
		h4 {
			color: #fff;
			font-weight: 400;
			margin: 0 0 12px 0;
			padding: 0 10px;
			font-size: rem(17);
			text-transform: uppercase;
			text-align: center;
			@include media($bp2){
				min-height: 40px;
				text-align: left;
				padding: 0; 
			} 
		} 
		

		.btn {
			border: 2px solid #fff;
			display: block;
			width: 90%; 
			text-align: center;
			text-transform: uppercase;
			padding: 8px;
			color: #fff;
			font-size: 16px;
		}

	    .callouts__sec {
	    	padding: 12px;
			@include media($bp2){
				@include span-columns(6);  
			}
		} 

		.callouts__img { 
			@include media($bp2){ 
				@include clearfix;
				@include span-columns(6);
				height: 100%;
				float: right;
				display: block;
			}
		}

		@include media($bp2){
			height: 145px;
			min-height: 120px;
		}

		@include media($bp3){
			@include span-columns(6); 
			clear: none; 
			margin-left: 0;
		} 
 
		
	}


	.callouts__ad1 {
		background: #c576c4;
		.btn:hover { background: darken(#c576c4, 5%); } 
		@include media($bp2){
			.callouts__img {
				background: #c576c4 url(../img/callout1.jpg) no-repeat right 0;
				background-size: cover;
			}
		}
		
	}
	.callouts__ad2 {
		background: $mocha;
		.btn:hover { background: darken($mocha, 5%); }
		@include media($bp2){
			.callouts__img {
				background: $mocha url(../img/callout2.jpg) no-repeat right 0;
				background-size: cover;
			}
		}
		@include media($bp4){
			h4 {
				padding-right: 70px;
			}
		}

	}


} // Callouts


// Content layout

.main-content {
	margin-bottom: 2em;
		@include media($bp3){
			@include span-columns(8); 
			@include omega();
		}
	h1, h2, h3 { 
		color: $purple;
	}
}

.footnote { 
	font-size: rem(12);
}


.main-content__title {
	color: $purple;
	font-size: rem(27);
	font-family: 'Merriweather', serif;
	font-weight: 400;
	line-height: 1.9;
	padding: 12px 0; 
	padding-top: 0;
	margin-top: 0;
	&:after {
		content: " ";
		display: block;
		height: 1px;
		width: 30%;
		background: $purple;
	}
}

.main-content__image {
	margin: 1em 0; 
	@include media($bp3) {
		@include span-columns(5.8);  
		padding: 0 1em;
		float: right;
		margin-right: 0;
	}
}

.intro {
	font-size: rem(22);
	color: $purple;
}

.sidebar { 
	@include media($bp3) {
		@include span-columns(4);  
		}
}

.sidebar__cta {
	background:  $yellow;
	padding: $base-space; 
	margin-bottom: $base-space; 
	h3 { color: #fff; 
	 font-size: rem(17);
	 line-height: 1.6;
	 font-weight: normal;
	 margin: 0;
		}
	.btn { margin-top: 1em; 
		&:hover, &:active, &:focus {
			color: #fff;
			background: darken($yellow, 5%);
		}
	}
	p a { color: #fff; text-decoration: underline; }
	@include media($bp3){
		padding-bottom: 140px; 
		 background: url('../img/sidebar1.jpg') no-repeat center bottom $yellow;
		 background-size: contain;
	}
	@include media($bp4){
		padding-bottom: 170px;  
	}

	.view__book & {
		background: $mocha;
		h3 {  font-size: rem(22); 
			 margin-bottom: 12px;
			}
			p {
				color: #fff;
				padding: 12px 0;
				margin: 0;
			}
			.btn { margin-top: 1em; margin-bottom: 10px; 
				&:hover, &:active, &:focus {
					color: #fff;
					background: darken($mocha, 5%);
				}
			}
			@include media($bp3){
			   	 padding-bottom: 160px; 
				 background: url('../img/sidebar2.jpg') no-repeat center bottom $mocha;
				 background-size: contain;
			}
	}

}

.service-points {
	border-radius: 2px;
	background: #f8f8f8;
	padding: $base-space;
	li {
		list-style:  inside disc;
		padding: 8px 0;
	}
}

.gallery {
	clear: both;
	float: left;
	margin: $base-space*2 0 0 0;
	@include clearfix;
}

.gallery__items--thumb {
	@include span-columns(6);
 	@include omega(2n);
 	@include media($bp3){
 		 @include omega-reset(2n);
	   	 @include span-columns(3);
		 @include omega(4n);
			}
}

.photobar {
	padding: 16% 0;
	margin-bottom: $base-space;
	background: url(../img/photobar4.jpg) no-repeat center 0 transparent; background-size: cover;
	.services & {
		background: url(../img/photobar3.jpg) no-repeat center 0 transparent; background-size: cover;
	}
	.home & {
		display: none;
	}
	@include media($bp2) {
		 
	}
	@include media($bp3) {
		padding: 9em 0;
	}
}




// Feedback slider

.feedback {
	padding: 2em 0;
	@include media($bp3) {
		position: relative;
		.bx-controls {
			position: absolute;
			right: 10px;
			bottom: 0;
		}
	}
}


.feedback__intro {
	text-align: center;
	padding-bottom: $base-space / 2;
	h3 { font-weight: 300; font-size: rem(26); position: relative;
		 line-height: 2.2; margin-bottom: 10px; color: #4A4A4A;
 		&::after {
			content: ""; 
			display: block; 
			margin: 0 auto; 
			width: 100px;
			border-top: 3px solid #4A4A4A;
		}
	} 
	p { color: #848484 }
}

 
.feedback-band {
	padding: 22px 0;
	@include clearfix;
	background: #e3e3e3;
	@include media($bp3){
		padding-top: 28px;
	}
}

.feedback__case {
	@include clearfix;
	padding-bottom: $base-space;
	@include media($bp3){
			padding-bottom: 0;
		}
}

.feedback__case--photo  {
	img { 
		display: block;
		border-radius: 50%;
		border: 5px solid $mocha;
		margin: 0 auto;
		}
	p {
		text-align: center;
		font-size: rem(17);
		line-height: 2;
		margin: 0;
		color: $mocha;
		font-family: 'Raleway', sans-serif;
		}

		@include media($bp3){
			@include shift(1);
			@include span-columns(3) 
		}
}

.feedback__case--content {
	padding: 14px 18px;
	padding-bottom: 0;
	text-align: center;
	blockquote {
		margin: 0;
		font-family: Raleway, sans-serif;
		font-weight: 300;
		font-size: rem(18);
		margin-bottom: 10px;
		padding-top: 0;
		cite { font-weight: 400; clear: both; }
	}
	@include media($bp3){ 
		
		@include span-columns(7);
		text-align: left;
	}
	@include media($bp4){
		cite { text-align: right; float: right; }
	}
}
   

 // Contact form 
.contact-form { 
	@include media($bp2) {
		label {
 		  @include span-columns(6);
 		  @include omega(2n);
		}
 	  } 
 	  label {
 	  	font-weight: lighter;
 	  	line-height: 1.5; 
 	  }
 	  input, textarea {
 	  	border-radius: 0;
 	  	border: 1px solid $mocha;
 	  }
 	  textarea {
 	  	height: 130px;
 	  }
 	  input[type="submit"]{
 	  	clear: both;
 	  	float: left;
 	  }
}

.contact-form-details {
	clear: both; 
	@include span-columns(12);
}

.sidebar__cta--features {
	list-style: disc;
	color: #fff;
	padding: 12px;
	 
	li {
		padding: 6px 0;
		color: #fdebdb;
	}
}


// Feedback - Slider mods

.bx-wrapper {
	position: relative;
}

.bx-controls-direction {
	font-size: rem(20);
	text-align: center; 
	padding-bottom: 10px;
	a { 
		padding: 12px;
		color: #b260b1;
		font-size: rem(40);
		@include media($bp4){
			font-size: rem(30);
		}
		&:hover { color: darken(#b260b1, 10%); }
		 }
} 

 




// Footer

.site-footer {
	padding-top: $base-space;
	p { 
		color: $mocha;
		 margin: 0;
		 font-weight: lighter;
	} 
}

.site-footer__tel {
	font-size: rem(22);
	text-align: center;
	padding-bottom: $base-space /2;
	@include media($bp3){
		text-align: left;
		font-size: rem(18);
		float: left;
	}
}

.site-footer__social {
	.social-icons {
		 float: none;
		 text-align: center;
			a {  color: $mocha;
				&:hover { color: darken($mocha, 10%); }
			}
	}
	@include media($bp3){
		.social-icons {
			float: right;
		}
	}
}



