---
layout: default
title: Services
permalink: services.html
id: services
menu: true
---

<div class="view view__services">
	<div class="container">
		
		<div class="sidebar">
			<div class="sidebar__cta">
				<h3>Flexible, 7-day appointments available for January 2016</h3>
				<a href="/book" class="btn">Book your dog</a>
			</div>
		</div>

		<article class="main-content">
			<header>
				<h2 class="main-content__title">Services and pricing</h2>
			</header>
			<p class="intro">Like you, we love dogs, which is why every dog which comes to us is treated with care and as an individual with specific needs.</p>
			 
			<figure class="main-content__image">
				<img src="/img/gallery/suesPaws4.jpg" alt="{site.title} - {page.title}">
			</figure>
			
			<p>You may have experience with other groomers who pack-in their bookings and dogs are relegated to cages once their groom is finished to await collection. In an unfamiliar environment with other dogs, this could easily be distressing to the dogs, so with Sues Paws, we don't operate like this.</p>
			<p>Your dog is treated with one-to-one attention to their individual needs and the best, considered advice is always offered to owners on caring for thier dogs' coat once it leaves us.</p>

			<p>We offer many kinds of groom from a full wash, cut and finish to a quick nail clipping or some advice.</p>

			<ul class="main-content__features">
				<li>Professional, no-fuss service</li>
				<li>Always one-to-one attention for your dog</li>
				<li>Flexible; able to fit around your schedule</li>
				<li>Extra patience for difficult or nervous dogs</li>
				<li>De-matting, wash, dry and fur treatments available</</li>
			</ul>

			<h2>Pricing</h2>
			
			<p>It's not possible to give a set list of prices as each dog requires different products, and time spent with us. We can also provide a quote for collection, so the best way to get a quote is to give us a call on <strong><a href="tel:07966 584 581" class="tel">07966 584 581</a></strong> and let us know the breed, size and what you'd like doing.</p>

			<h2>Collection</h2>
			<p>If booked sufficiently in advance, we can offer a mobile grooming service, which means we can come out and collect your dog for your convenience*. It also means, if you prefer, we can carry out the wash and cut in the familiarity of your home; we just ask you are aware this would mean we'd use your own bathing facilities so be ready for a lot of fur!</p>
			<p class="footnote">* Local Nottingham area, charges apply</p>

		</article>
		
		{% include gallery.html %}		

		{% include feedback.html %}

		</div>

	</div>