---
layout: default
title: Services
permalink: services.html
---

<div class="photobar">
	
</div>

<div class="view">
	<div class="container">
		
		<div class="sidebar">
			<h3>Flexible, 7-day appointments available for January 2016</h3>
			<a href="#" class="btn">Book your adog in now!</a>
		</div>

		<article class="main-content">
			<header>
				<h2>Services and pricing</h2>
			</header>
			<p class="intro">Lorem ipsum dolor sit amet, consectetur adipconseq dolores neque sit nostrum a corporis ut vitae repellendus fuga cum</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi eveniet neque incidunt eum, error, distinctio fugit quas velit deserunt molestias sequi, nulla omnis molestiae eaque praesentium dolorum ipsa, voluptas quos.</p>
			<figure>
				<img src="http://placehold.it/300x300" alt="{site.title} - {page.title}">
			</figure>
			
			<ul class="main-content__features">
				<li> ipsum dolor sit amet, consectetur adipisicing elit. Modi eveniet neque</li>
				<li> ipsum dolor sit amet, consectetur adipisicing elit. Modi eveniet neque</li>
				<li> ipsum dolor sit amet, consectetur adipisicing elit. Modi eveniet neque</li>
				<li> ipsum dolor sit amet, consectetur adipisicing elit. Modi eveniet neque</li>
				<li> ipsum dolor sit amet, consectetur adipisicing elit. Modi eveniet neque</li>
			</ul>
		</article>
		
		{% include gallery.html %}		

		{% include feedback.html %}

		</div>

	</div>
</div>