</div> <!-- closes container -->

<div class="feedback-bar">
	<h3>Customer feedback</h3>
	<p>fgdsr dsfgd consimilique at, illo in quis possimus quia iste.</p>
	<div class="feedback-slider">
		<ul>
			<li>
				<figure>
					<img src="http://placehold.it/100x100" alt="{page.title}" />
					<caption>Benji</caption>
				</figure>
				<blockquote class="feeback-slider__content">
					<p>“Brilliant with my Benji even when he was fidgety. ...such a unique and special touch”</p>
					<cite>- Stacy</cite>
				</blockquote>
			</li>
			<li>
				<figure>
					<img src="http://placehold.it/100x100" alt="{page.title}" />
					<caption>Benji</caption>
				</figure>
				<blockquote class="feeback-slider__content">
					<p>“Brilliant with my Benji even when he was fidgety. ...such a unique and special touch”</p>
					<cite>- Stacy</cite>
				</blockquote>
			</li>
		</ul>
	</div>
</div>

<div class="container">