<div class="gallery">
			
				<ul class="gallery__items">
					<li class="gallery__items--thumb"><img src="http://placehold.it/200x200" /></li>
					<li class="gallery__items--thumb"><img src="http://placehold.it/200x200" /></li>
					<li class="gallery__items--thumb"><img src="http://placehold.it/200x200" /></li>
					<li class="gallery__items--thumb"><img src="http://placehold.it/200x200" /></li>
					<li class="gallery__items--thumb"><img src="http://placehold.it/200x200" /></li>
				</ul>
			
		</div>