<footer class="site-footer">
  <div class="container">
      <div class="site-footer__tel">
	      <p>Get in touch</p>
	      <p><strong>07966 584 581</strong></p>	
      </div>
      <div class="site-footer__social">
      	<ul class="social-icons">
          <li><a target="_top" href="https://www.facebook.com/suespaws" title="Sue's Paws Dog Grooming Nottingham"><i class="fa fa-facebook-square"></i></a></li>
          <li><a target="_top" href="http://instagram.com/suespawsgrooming" title="Sues Paws Groomer on Instagram"><i class="fa fa-instagram"></i></a></li> 
        </ul>
      </div>
      <p class="copyright u-block">Sue's Paws grooming, Nottingham &copy; <span id="js-year"></span></p>
  </div>
</footer>
<script src="js/jquery-1.12.0.min.js"></script>
<script src="js/bxslider.min.js"></script>
<script src="js/main.js"></script>
