---
layout: default
title: Services
permalink: services.html
id: services
order: 2
navigation_weight: 2
excerpt: We offer many kinds of dog groom from a full wash, cut and finish to a quick nail clipping or some advice.
---

<div class="view view__services">
  <div class="container">
    <div class="sidebar">
      <div class="sidebar__cta">
        <h1>Appointments available</h1>
        <a href="/book" class="btn">Book your dog</a>
      </div>
    </div>
    <main id="content">
      <article class="main-content">
        <header>
          <h2 class="main-content__title">Services and pricing</h2>
        </header>
        <p class="intro">
          Like you, we love dogs, which is why every dog which comes to us is
          treated with care and as an individual with specific needs.
        </p>

        <figure class="main-content__image">
          <img
            src="/img/gallery/suesPaws4.jpg"
            alt="{site.title} - {page.title}"
          />
        </figure>
        <h2>Pricing</h2>

        <p>
          It's not possible to give a set list of prices as each dog requires
          different products, and time spent with us. The best way to get a
          quote is to give us a call on
          <strong
            ><a href="tel:07966 584 581" class="tel">07966 584 581</a></strong
          >
          and let us know the breed, size and what you'd like doing.
        </p>

        <h3>Your dog is an individual</h3>

        <p>
          You may have experience with other dog groomers who pack-in their
          bookings and dogs are relegated to cages once their groom is finished
          to await collection. In an unfamiliar environment with other dogs,
          this could easily be distressing to the dogs, so at Sue's Paws, we
          don't operate like this.
        </p>

        <p>
          Your dog is treated with one-to-one attention to their individual
          needs and the best, considered advice is always offered to owners on
          caring for thier dogs' coat once it leaves us.
        </p>

        <h3>What you can expect:</h3>

        <ul class="service-points">
          <li>Always a friendly, no-fuss service</li>
          <li>Impartial advice on coat care</li>
          <li>Extra patience for difficult or nervous dogs</li>
          <li>De-matting, wash, dry and fur treatments available</li>
        </ul>

        <h2>Cancellations & Charges</h2>
        <p>
          Cancellation within 24hrs of your appointment or not showing up to
          your appointment is subject to a charge of £30.
        </p>
        <p>Dogs with fleas will be charged an additional £5.</p>
        <p>
          Matted or aggressive dogs will incur an additional charge at our
          discretion depending on the condition of the dog. Charges range from
          £5-20 in addition to the service price.
        </p>

        <p>
          We offer many kinds of dog groom from a full wash, cut and finish to a
          quick nail clipping or some advice.
        </p>
      </article>
    </main>
    {% include gallery.html %} {% include feedback.html %}
  </div>
</div>
