---
layout: default
title: Grooming tips
id: tips
permalink: tips.html 
navigation_weight: 4 
---


<div class="view view__tips">
	<div class="container">
		
		<div class="sidebar">
			<div class="sidebar__cta"> 
				<ul class="sidebar__cta--features">
					<li>Always One-to-one care and attention</li>
					<li>Friendly, no-fuss service</li>					
					<li>Flexible; able to fit around your schedule</li>
					<li>De-matting, wash, dry and fur treatments available</li>
					<li>Extra patience for difficult or nervous dogs</li>
				</ul>
				<p>Email: <a href="mailto:suespaws@gmail.com">suespaws@gmail.com</a><br />
				Tel: 07966 584 581</p>
				
			</div>
		</div>

		<main id="content">
		<article class="main-content"> 
			<header>
				<h2 class="main-content__title">Grooming your dog</h2>
			</header>

			<p class="intro">It's a good idea to introduce your dog to the correct grooming procedures at an early age...</p>
			<p>Try 'line grooming' your dog with a brush; maybe a pin brush depending on coat texture. Brush each inch of her body bit by bit right down to the skin then go over her with a comb to make sure all knots are teased out. Please take care not to scrape the skin. If done daily, the knots will come away much easier and be so much more enjoyable for yourself and your pet. </p>
			<p>Grooming is a good way of bonding with your dog and keeping her clean at the same time.</p>

			<figure class="main-content__image main-content__image--small">
				<img src="/img/dog-tick.jpg"  alt="Dog tick">
				<figcaption class="main-content__caption">Dermacentor variabilis - the dog tick</figcaption>
			</figure>

			<h2>Fleas and Ticks</h2>
			<p>As the weather is getting warmer. Your pet will be out and about in the long grasses or just out in the garden more. </p>
			<p>Fleas can be quite difficult to get rid of. Using a different flea treatment every month or 3 months depending on preparation will help the fleas not to get immunity to the flea drops. In stubborn cases a visit to the vet will help you get a stronger medication.</p> 
			<p>Ticks can be a problem in the warmer months. Please comb your dog regularly so you are aware of any ticks that can spread disease. Ticks can appear anywhere on your dog. Even in her mouth! They start off pink and go red or black when filled with blood, potentially passing on disease. Treat regularly for fleas and ticks, and carefully remove any you see.</p>
			<p>You may see little black spots on your dog's fur, usually under his legs where it's warm or on top of her tail. This is flea dirt which will go red if pressed on a damp tissue.</p>
			
			

		</article> 
		  
		</main>
		
		{% include gallery.html %}		

		{% include feedback.html %}

		</div>	

</div>